{% extends 'index.html' %}
{% load staticfiles %}
<main id="Depoimentos">
    {% block mainContainer %}
    <div class="row">
        <div class="col">
            <div class="container-fluid" id="containerDep">
                <div class="row">
                    <div class="col">
                        <p class="paraghDepoimentos fontMuseoSans700Italic"><strong>Quer recorrer da sua infração? Nós te ajudamos!</strong></p>
                        <p id="weHelpDepoimentos" class="paraghDepoimentos fontMuseoSans700Italic"><strong>Já ajudamos mais de 10 mil motoristas!</strong><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><img class="img-fluid" id="imgFluxoDepoimentos" src="{% static "assets/img/fluxo_blog.png" %}"></div>
                </div>
                <div class="row">
                    <div class="col" id="colBtDepoimentos"><a href={% url 'cadastro' %}><img class="img-fluid" id="btQueroOrcamento" src="{% static "assets/img/bt_quero_orcamento.png" %}"></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="contentCol">
        <div class="row d-xl-flex" id="contentDepoimentos">
            <div class="col-auto mx-auto"><img class="peoplePhotos" src="{% static "assets/img/images.png" %}"></div>
            <div class="col-12">
                <p class="flex-wrap" face="MuseoSans500">Zerando Multas: Ler um caso de sucesso minimiza o risco do seu cliente antes de fazer a <br>primeira compra. Isso diminui a desconfiança que todo cliente tem quando<br> ainda não conhece uma empresa.</p>
            </div>
        </div>
    </div>
</main>
<footer id="footerDepoimentos">
    <div class="container-fluid">
        <div class="row">
            <div class="col colComentarios">
                <p class="text-center fontMuseoSans900" style="color: white;"><strong>DEIXE SEU DEPOIMENTO</strong><br></p>
            </div>
        </div>
    </div>
    <div class="col-12 d-inline-flex justify-content-center">
        <form id="formDepoimentos" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col" style="margin: 10px 0px 10px 0px;"><input class="form-control input-contact" type="text" placeholder="Nome"></div>
            </div>
            <div class="form-row">
                <div class="col" style="margin: 0px 0px 10px 0px;"><input class="form-control input-contact" type="email" placeholder="E-mail"></div>
            </div>
            <div class="form-row">
                <div class="col" style="margin: 0px 0px 10px 0px;"><textarea class="form-control input-contact" style="height: 150px;" placeholder="Depoimento"></textarea></div>
            </div>
            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                <div class="col text-right"><a class="navIcons" href=""><img class="img-fluid" id="btEnviarDepoimento" src="{% static "assets/img/bt_enviar.png" %}"></a></div>
            </div>
        </form>
    </div>
</footer>
{% endblock %}
