{% extends 'index.html' %}
{% load staticfiles %}

    {% block mainContainer %}
        <main id="Depoimentos">
    <div class="row">
        <div class="col">
            <div class="container-fluid" id="containerDep">
                <div class="row">
                    <div class="col">
                        <p class="paraghDepoimentos fontMuseoSans700Italic"><strong>Quer recorrer da sua infração? Nós te ajudamos!</strong></p>
                        <p id="weHelpDepoimentos" class="paraghDepoimentos fontMuseoSans700Italic"><strong>Já ajudamos mais de 10 mil motoristas!</strong><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><img class="img-fluid" id="imgFluxoDepoimentos" src="{% static "assets/img/fluxo_blog.png" %}"></div>
                </div>
                <div class="row">
                    <div class="col" id="colBtDepoimentos"><a href={% url 'cadastro' %}><img class="img-fluid" id="btQueroOrcamento" src="{% static "assets/img/bt_quero_orcamento.png" %}"></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="contentCol">
        {% for comment in comments %}
            {% if comment.accepted %}
                <div class="row d-xl-flex" id="contentDepoimentos">
                    <div class="col-auto mx-auto"><img class="peoplePhotos" src="{% static "assets/img/images.png" %}"></div>
                        <div class="col-12">
                            <p class="flex-wrap" face="MuseoSans500">{{ comment.name }}: {{ comment.comment|safe }}</p>
                    </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</main>
<footer id="footerDepoimentos">
    <div class="container-fluid">
        <div class="row">
            <div class="col colComentarios">
                <p class="text-center fontMuseoSans900" style="color: white;"><strong>DEIXE SEU DEPOIMENTO</strong><br></p>
            </div>
        </div>
    </div>
    <div class="col-12 d-inline-flex justify-content-center">
        <form id="formDepoimento" method="post">
        {% csrf_token %}
            <div class="form-row">
                <div class="col" style="margin: 10px 0px 10px 0px;">{{ form.name }}</div>
            </div>
            {% if form.name.errors %}
                <div style="color:red"><strong>{{ form.name.errors|escape }}</strong></div>
            {% endif %}
            <div class="form-row">
                <div class="col" style="margin: 0px 0px 10px 0px;">{{ form.email }}</div>
            </div>
            {% if form.email.errors %}
                <div style="color:red"><strong>{{ form.email.errors|escape }}</strong></div>
            {% endif %}
            <div class="form-row">
                <div class="col" style="margin: 0px 0px 10px 0px;">{{ form.comment }}</div>
            </div>
            {% if form.comment.errors %}
                <div style="color:red"><strong>{{ form.comment.errors|escape }}</strong></div>
            {% endif %}
            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                <div class="col text-right"><a class="navIcons" onclick="document.forms['formDepoimento'].submit();"><img class="img-fluid" id="btEnviarDepoimento" src="{% static "assets/img/bt_enviar.png" %}"></a></div>
            </div>
        </form>
    </div>
</footer>
{% endblock %}
