{% extends 'index.html' %}
{% load staticfiles %}
{% block mainContainer %}
<main id="Depoimentos">
    <div class="row">
        <div class="col">
            <div class="container-fluid" id="containerDep">
                <div class="row">
                    <div class="col">
                        <p class="paraghDepoimentos fontMuseoSans700Italic"><strong>Quer recorrer da sua infração? Nós te ajudamos!</strong></p>
                        <p id="weHelpDepoimentos" class="paraghDepoimentos fontMuseoSans700Italic"><strong>Já ajudamos mais de 10 mil motoristas!</strong><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><img class="img-fluid" id="imgFluxoDepoimentos" src="{% static "assets/img/fluxo_blog.png" %}"></div>
                </div>
                <div class="row">
                    <div class="col" id="colBtDepoimentos"><a href={% url 'cadastro' %}><img class="img-fluid" id="btQueroOrcamento" src="{% static "assets/img/bt_quero_orcamento.png" %}"></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="contentCol">
        <div class="row d-xl-flex" id="contentDepoimentos">
            <div class="col-auto mx-auto"><img class="peoplePhotos" src="{% static "assets/img/images.png" %}"></div>
            <div class="col-12">
                <p class="flex-wrap" face="MuseoSans500">John Doe: Ler um caso de sucesso minimiza o risco do seu cliente antes de fazer a <br>primeira compra. Isso diminui a desconfiança que todo cliente tem quando<br> ainda não conhece uma empresa.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}