
{% extends 'index.html' %}
{% load staticfiles %}
{% block mainContainer %}
<main id="Cadastro">
    <form id="resolveMultas" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row d-inline">
            <div class="col">
                <div class="container forms" id="containerCadastro">
                    <p class="cadastroTitle fontMuseoSans900"><strong>PREENCHA O FORMULÁRIO ABAIXO</strong></p>
                    <div id="div_contato" style="background-color: #ffffff;">
                        <p class="cadastroInfo fontMuseoSans500">As informações contidas nesse formulário são necessárias para nossa equipe elaborar a melhor defesa administrativa para o seu caso. Lembre-se de colocar as informações corretas.</p>
                        <p class="cadastroInfo fontMuseoSans500">Selecione a categoria da sua multa abaixo e efetue o pagamento. Entraremos em contato e iremos elaborar o seu recurso.</p>
                        <div class="col">
                            <div class="form-row">
                                <div class="col" style="margin: 20px 0px 10px 0px;">{{form.name}}</div>
                                <div class="col" style="margin: 20px 0px 10px 0px;">
                                    <div class="dropdow"><select class="custom-select input-contact" id="plainSelect" name="plan_selection"><option value="0" selected="">ESCOLHA SEU PLANO</option><option value="1">Leve</option><option value="2">Média</option><option value="3">Grave</option><option value="4">Gravíssima</option><option value="5">Gravíssima (2x)</option><option value="6">Gravíssima (3x)</option><option value="7">Gravíssima (5x)</option><option value="8">Gravíssima (10x)</option><option value="9">Gravíssima (20x)</option><option value="10">Gravíssima (60x)</option></select></div>
                                </div>
                            </div>
                            <div class="form-row">
                            {% if form.name.errors %}
                                <div class="col">
                                    <div style="color:red"><strong>{{ form.name.errors|escape }}</strong></div>
                                </div>
                                <div class="col">
                                </div>
                            {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 0px 0px 10px 0px;">{{form.email}}</div>
                                <div class="col" style="margin: 0px 0px 10px 0px;">{{form.phone}}</div>
                            </div>
                            <div class="form-row">

                                <div class="col">
                                    {% if form.email.errors %}
                                    <div style="color:red"><strong>{{ form.email.errors|escape }}</strong></div>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    {% if form.phone.errors %}
                                    <div style="color:red"><strong>{{ form.phone.errors|escape }}</strong></div>
                                    {% endif %}
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="col text-right">
                                    <p>Valor do Plano escolhido: R$&nbsp;<label id="lb_planValue">0,00</label></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col text-center"><a id="linkPagamento" style="margin: 0px 0px 0px 10px;"><img id="btEfetuarPagamento" src="{% static "assets/img/bt_efetuar_pagamento.png" %}"></a></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px 0px 10px 0px;"><img style="width: 90%;" src="{% static "assets/img/top_border.png" %}">
                                    <p class="lead cadastroInfo fontMuseoSans500" style="padding: 10px 0px 0px 0px">Caso você já tenha assinado, digite seu e-mail e envie sua multa.</p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 0px 0px 10px 0px;">{{form.email}}</div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 0px 0px 10px 0px;">{{form.description}}</div>
                            </div>
                            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                                <div class="col text-center">
                                    <p class="lead text-left cadastroInfo fontMuseoSans500">Documentos que precisam ser digitalizados para envio:</p>
                                </div>
                            </div>
                            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                                <div class="col text-left">
                                    <div class="file-upload">
                                        <div class="file-select"><div id="fileName" class="file-select-button"> ENVIAR MULTA </div><div id="noTicketFile" class="file-select-name"></div>{{ form.traffic_ticket }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                                <div class="col text-left">
                                    <div class="file-upload">
                                        <div class="file-select"><div id="fileName" class="file-select-button"> ENVIAR DOCUMENTO DE HABILITAÇÃO </div><div id="noLicenseFile" class="file-select-name"></div>{{ form.drivers_licence }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                                <div class="col text-left">
                                    <div class="file-upload">
                                        <div class="file-select"><div id="fileName" class="file-select-button"> ENVIAR CÓPIA DO DUT </div><div id="noDutFile" class="file-select-name"></div>{{ form.dut_copy }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                                <div class="col text-center" style="padding: 10px 0px 10px 0px;"><a style="margin: 0px 0px 0px 10px;" href="#" onclick="document.forms['resolveMultas'].submit();" ><img id="btResolvaMultasCadastro" src="{% static "assets/img/bt_resolva_multas_agora.png" %}"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalPaymentSuccessful">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Status do pagamento</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p style="color: #008000;">Pagamento realizado com sucesso!</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalPaymentProcessing">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Status do pagamento</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p style="color: #0000FF;">Seu pagamento está sendo processado. Aguarde...</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
