{% extends 'index.html' %}
{% load staticfiles %}
{% block mainContainer %}
<main id="Contato">
    <form id="formContato" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                <div class="container forms contact">
                    <p id="contatoTitle" class="fontMuseoSans900"><strong>CONTATO</strong></p>
                    <div id="div_contato">
                        <div class="col">
                            <div class="form-row">
                                <div class="col" style="margin: 20px 0px 10px 0px;">{{form.nome}}</div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 0px 0px 10px 0px;">{{form.telefone}}</div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 0px 0px 10px 0px;">{{form.email}}</div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 0px 0px 10px 0px;">{{form.mensagem}}</div>
                            </div>
                            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                                <div class="col text-right"><a class="navIcons"><img class="img-fluid" id="btEnviarContato" src="{% static "assets/img/bt_enviar.png" %}"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% if messages %}
    <div id="modalContato" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {% for message in messages %}
                    <p id="pModalContato"> {{ message }} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        setTimeout(function(){
            $("#modalContato").modal('show');
            setTimeout(function(){
                $("#modalContato").modal('hide');
            }, 3000);
        });
    </script>
    {% endif %}
</main>
{% endblock %}
