
{% extends 'index.html' %}
{% load staticfiles %}
{% block mainContainer %}
<main id="Cadastro">
    <form id="resolveMultas" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row d-inline">
            <div class="col">
                <div class="container forms" id="containerCadastro">
                    <p class="cadastroTitle fontMuseoSans900"><strong>PREENCHA O FORMULÁRIO ABAIXO</strong></p>
                    <div id="div_contato" style="background-color: #ffffff;">
                        <p class="cadastroInfo fontMuseoSans500">As informações contidas nesse formulário são necessárias para nossa equipe elaborar a melhor defesa administrativa para o seu caso. Lembre-se de colocar as informações corretas.</p>
                        <p class="cadastroInfo fontMuseoSans500">Selecione a categoria da sua multa abaixo e efetue o pagamento. Entraremos em contato e iremos elaborar o seu recurso.</p>
                        <div class="col">
                            <div class="form-row">
                                <div class="col" style="margin: 20px 0px 10px 0px;">{{form.name}}</div>
                                <div class="col" style="margin: 20px 0px 10px 0px;">
                                    <div class="dropdow"><select class="custom-select input-contact" id="planSelect" style="padding-left: 8px;" name="plan_selection"><option value="0" selected="">ESCOLHA SEU PLANO</option><option value="1">Leve</option><option value="2">Média</option><option value="3">Grave</option><option value="4">Gravíssima</option><option value="5">Gravíssima (2x)</option><option value="6">Gravíssima (3x)</option><option value="7">Gravíssima (5x)</option><option value="8">Gravíssima (10x)</option><option value="9">Gravíssima (20x)</option><option value="10">Gravíssima (60x)</option></select></div>
                                    {{form.plan}}
                                </div>
                            </div>
                            <div class="form-row">
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 0px 0px 10px 0px;">{{form.email}}</div>
                                <div class="col" style="margin: 0px 0px 10px 0px;">{{form.phone}}</div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                </div>
                                <div class="col">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col text-right">
                                    <p>Valor do Plano escolhido: R$&nbsp;<label id="lb_planValue">0,00</label></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col text-center"><a id="linkPagamento" style="margin: 0px 0px 0px 10px;" target="_tab"><img id="btEfetuarPagamento" src="{% static "assets/img/bt_efetuar_pagamento.png" %}"></a></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px 0px 10px 0px;"><img style="width: 90%;" src="{% static "assets/img/top_border.png" %}">
                                    <p class="lead cadastroInfo fontMuseoSans500" style="padding: 10px 0px 0px 0px">Caso você já tenha assinado, digite seu e-mail e envie sua multa.</p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 0px 0px 10px 0px;"><input id="emailCadastroFinal" class="form-control input-contact" type="email" placeholder="E-MAIL"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 0px 0px 10px 0px;">{{form.description}}</div>
                            </div>
                            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                                <div class="col text-center">
                                    <p class="lead text-left cadastroInfo fontMuseoSans500">Documentos que precisam ser digitalizados para envio:</p>
                                </div>
                            </div>
                            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                                <div class="col text-left">
                                    <div class="file-upload">
                                        <div class="file-select"><div id="fileName" class="file-select-button"> ENVIAR MULTA </div><div id="noTicketFile" class="file-select-name"></div>{{ form.traffic_ticket }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                                <div class="col text-left">
                                    <div class="file-upload">
                                        <div class="file-select"><div id="fileName" class="file-select-button"> ENVIAR DOCUMENTO DE HABILITAÇÃO </div><div id="noLicenseFile" class="file-select-name"></div>{{ form.drivers_licence }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                                <div class="col text-left">
                                    <div class="file-upload">
                                        <div class="file-select"><div id="fileName" class="file-select-button"> ENVIAR CÓPIA DO CRLV </div><div id="noDutFile" class="file-select-name"></div>{{ form.dut_copy }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="padding: 0px 0px 10px 0px;">
                                <div class="col text-center" style="padding: 10px 0px 10px 0px;"><a style="margin: 0px 0px 0px 10px;" onclick="document.forms['resolveMultas'].submit();" ><img id="btResolvaMultasCadastro" src="{% static "assets/img/bt_resolva_multas_agora.png" %}"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="modalCadastro" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="pModalCadastro"></p>
                    {% if messages %}
                    {% for message in messages %}
                    <p id="pModalCadastro"> {{ message }} </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if messages %}
    <script>
        setTimeout(function(){
            $("#modalCadastro").modal('show');
            setTimeout(function(){
                $("#modalCadastro").modal('hide');
            }, 3000);
        });
    </script>
    {% endif %}
</main>
<script src="{% static "assets/js/jquery.min.js" %}"></script>
<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/script.min.js" %}"></script>
{% endblock %}
