@media screen and (max-width: 400px) {
  .minRes {
    width: 600%;
  }
}

@media screen and (min-width: 400px) {
  .minRes {
    width: 15vw;
  }
}

@media screen and (min-width: 1280px) {
  .minRes {
    width: 150px;
  }
}

@media (min-width: 1200px) {
  html {
    width: 1200px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 400px) {
  .img-principal {
    padding-top: 20px;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #fdef1a 20%, #acd044 100%);
    border-image-slice: 1;
  }
}

@media screen and (max-width: 400px) {
  .optionsTxt {
    font-size: 70%;
  }
}

@media screen and (max-width: 400px) {
  .parag {
    font-size: 70%;
  }
}

@media screen and (max-width: 400px) {
  .howWorks {
    font-size: 70%;
  }
}

@media screen and (max-width: 400px) {
  .paragFooter {
    font-size: 40%;
  }
}

@media screen and (min-width: 400px) {
  .optionsTxt {
    font-size: 140%;
  }
}

@media screen and (min-width: 400px) {
  .parag {
    font-size: 120%;
  }
}

@media screen and (min-width: 400px) {
  .paragFooter {
    font-size: 60%;
  }
}

@media screen and (min-width: 400px) {
  .howWorks {
    font-size: 90%;
  }
}

@media screen and (min-width: 1000px) {
  .optionsTxt {
    font-size: 180%;
  }
}

@media screen and (min-width: 1000px) {
  .parag {
    font-size: 120%;
  }
}

